@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url("/fonts/Pretendard/woff2-subset/Pretendard-Black.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-Black.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url("/fonts/Pretendard/woff2-subset/Pretendard-ExtraBold.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-ExtraBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("/fonts/Pretendard/woff2-subset/Pretendard-Bold.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-Bold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("/fonts/Pretendard/woff2-subset/Pretendard-SemiBold.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("/fonts/Pretendard/woff2-subset/Pretendard-Medium.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("/fonts/Pretendard/woff2-subset/Pretendard-Regular.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("/fonts/Pretendard/woff2-subset/Pretendard-Light.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-Light.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url("/fonts/Pretendard/woff2-subset/Pretendard-ExtraLight.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-ExtraLight.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url("/fonts/Pretendard/woff2-subset/Pretendard-Thin.subset.woff2") format("woff2"), url("/fonts/Pretendard/woff-subset/Pretendard-Thin.subset.woff") format("woff");
}

body,
html {
  font-family: "Montserrat", "Pretendard", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: $bgColor;
}
html.stopScroll {
  overflow-y: hidden;
}

main.main__flex {
  padding-top: 70px;
}

.rsp-mb {
  display: block;
}
.rsp-pc {
  display: none;
}
.layout {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

// Extra large devices (large desktops, 1440px and up)
@media (min-width: 1440px) {
  main.main__flex {
    padding-top: 0;
  }

  .rsp-mb {
    display: none;
  }
  .rsp-pc {
    display: block;
  }
  .layout {
    max-width: $pcWidth;
  }
}
