extends layouts/main

block content
  .pricing__page#pricing__page
    .pricing__flex.layout 
      section.pricing__banner.rsp-pc
        img.banner__img(src=`${imgPath}/pricing/pricing-banner.png` alt="배너이미지")
      //- matching service section
      //- TODO:
      section.matching__service-section
      //- premium membership section
      //- TODO:
      section.premium__membership-section 
      //- price section
      //- TODO:
      section.price__section
      //- faq section
      //- TODO: accordion
      section.faqs__section
        





