#dashboard__expertDetail {
  section.expertDetail__header {
    margin-bottom: 80px;
    .header__flex {
      .expert__profile-flex {
        padding: 28px 20px;
        margin-bottom: 20px;
        background-color: #060708;
        border-radius: 10px;
        .expert__profile {
          margin: 0 auto 28px auto;
          width: 214px;
        }
        .expert__info-flex {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          h1.expert__name {
            margin-bottom: 6px;
            font-size: 22px;
            font-weight: bold;
            color: #fff;
          }
          .expert__like-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: normal;
            button.user__like-btn {
              margin-right: 3px;
              display: flex;
              align-items: center;
              img.like__btn-img {
                margin-right: 5px;
                width: 14px;
                object-fit: cover;
              }
              h1.like__title {
                font-size: 14px;
                color: #c9c9c9;
              }
              h1.like__title.active {
                color: $mainColor;
              }
            }
            h1.expert__title {
              font-size: 14px;
              color: #c9c9c9;
            }
          }
        }
      }
      .expert__rate-flex {
        background-image: url("/images/expertDetail/expertDetail_review.png");
        width: 100%;
        padding: 40px 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        .rate__header {
          margin-bottom: 22px;
          text-align: center;
          h1.rate__average {
            font-size: 82px;
            font-weight: bold;
            color: #fff;
          }
          h1.rate__count {
            width: fit-content;
            margin: 0 auto;
            padding: 8px 10px;
            font-size: 12px;
            font-weight: bold;
            color: #fff;
            border-radius: 15.5px;
            background-color: #3e3e3e;
          }
        }
        .rate__body {
          .rate__ratio-flex {
            margin-bottom: 22px;
            .progress__flex {
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              h1.progress__score {
                margin-right: 10px;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
              }
              .progress {
                width: 100%;
                background-color: unset;
                .progress-bar {
                  border-radius: 7px;
                }
              }
            }
          }
          .expert__request-flex {
            h1.expert__overview {
              margin-bottom: 31px;
              font-size: 16px;
              font-weight: bold;
              color: #fff;
            }
            .btn__flex {
              button.request__btn {
                margin-bottom: 20px;
                width: 100%;
                padding: 15px 0;
                display: block;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                color: #16151a;
                border-radius: 10px;
                background-color: #10eb73;
              }
              a.chat__link {
                padding: 15px 0;
                display: block;
                border-radius: 10px;
                background: linear-gradient(to left, #275eff, #10eb73);
                text-align: center;
                h1.link__title {
                  font-size: 18px;
                  font-weight: 600;
                  color: #16151a;
                }
              }
            }
          }
        }
      }
    }
  }
  section.expertDetail__body {
    margin-bottom: 80px;
    .body__flex {
      .expert__profile-flex {
        margin-bottom: 80px;
        h1.profile__title {
          margin-bottom: 23px;
          font-size: 34px;
          font-weight: bold;
          color: #fff;
        }
        .profile__items-flex {
          ul.profile__items {
            li.profile__item {
              h1.item__title {
                margin-bottom: 20px;
                font-size: 16px;
                color: #fff;
                font-weight: 600;
                overflow-wrap: break-word;
                span.item__desc {
                  color: #c9c9c9;
                  font-weight: normal;
                }
                a.item__link {
                  color: $mainColor;
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
      .review__form-flex {
        form.review__form {
          .rate__img-flex {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            h1.rate__title {
              margin-right: 20px;
              font-size: 22px;
              font-weight: 600;
              color: #fff;
            }
            ul.rate__img-items {
              display: flex;
              align-items: center;
              li.rate__img-item {
                margin-right: 5px;
                img.item__star {
                  width: 26px;
                  cursor: pointer;
                }
              }
            }
          }
          .desc__flex {
            padding: 40px 20px;
            border-radius: 10px;
            background-color: #101113;
            .textarea__flex {
              position: relative;
              textarea.form__textarea {
                padding: 16px;
                width: 100%;
                height: 183px;
                font-size: 18px;
                font-weight: 500;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                resize: none;
                color: #fff;
                background-color: #16151a;
                border: 1px solid #707070;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
                &::-webkit-scrollbar {
                  display: none; /* Chrome, Safari, Opera*/
                }
                &::placeholder {
                  font-style: italic;
                  color: #6c6c6c;
                  overflow-wrap: break-word;
                  white-space: pre-wrap;
                }
              }
              button.form__leave-btn {
                position: relative;
                bottom: 4px;
                width: 100%;
                height: 48px;
                padding: 13px 0;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 4.2px;
                color: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: #10eb73;
              }
            }
          }
        }
      }
      .promotions__flex {
        h1.promotions__title {
          margin-bottom: 23px;
          font-size: 34px;
          font-weight: bold;
          color: #fff;
        }
        .swiper.mySwiper.expertProfileSwiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 235px;
              margin-right: 20px;
              border-radius: 10px;
              background-color: #000;
              a.video__link {
                display: block;
                .video__flex {
                  .video__content {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%;
                    img.video__thumbnail {
                      object-fit: cover;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .video__expert-flex {
                    padding: 10px 20px;
                    h1.expert__title {
                      margin-bottom: 10px;
                      font-size: 16px;
                      color: #c9c9c9;
                    }
                    h1.video__campaignTitle {
                      font-size: 20px;
                      font-weight: 600;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section.expertDetail__footer {
    .footer__flex {
      h1.review__others {
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: bold;
        color: #fff;
      }
      .rsp-mb {
        .swiper.mySwiper.reviewSwiper {
          .swiper-wrapper {
            .swiper-slide {
              margin-right: 20px;
              width: 266px;
              padding: 40px 20px 40px;
              border-radius: 10px;
              background-color: #000;
              .review__content {
                h1.review__user-name {
                  margin-bottom: 10px;
                  font-size: 22px;
                  font-weight: bold;
                  color: #fff;
                }
                h1.review__desc {
                  margin-bottom: 60px;
                  font-size: 16px;
                  color: #c9c9c9;
                  white-space: pre-wrap;
                  overflow-wrap: break-word;
                }
              }
              .review__rating {
                h1.review__rating-title {
                  margin-bottom: 10px;
                  font-size: 14px;
                  color: #c9c9c9;
                }
                ul.rated__img-items {
                  display: flex;
                  align-items: center;
                  li.rated__img-item {
                    img.item__star {
                      margin-right: 5px;
                      width: 26px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  #dashboard__expertDetail {
    section.expertDetail__header {
      margin-bottom: 40px;
      .header__flex {
        display: flex;
        align-items: center;
        .expert__profile-flex {
          height: 483.13px;
          width: calc(40% - 10px);
          padding: 40px 20px;
          margin-bottom: 0;
          margin-right: 20px;
          .expert__profile {
            margin: 0 auto 28px auto;
            width: 214px;
          }
          .expert__info-flex {
            h1.expert__name {
              margin-bottom: 10px;
              font-size: 32px;
            }
            .expert__like-flex {
              button.user__like-btn {
                img.like__btn-img {
                  width: 18px;
                }
                h1.like__title {
                  font-size: 20px;
                }
              }
              h1.expert__title {
                font-size: 20px;
              }
            }
          }
        }
        .expert__rate-flex {
          background-image: url("/images/expertDetail/expertDetail_review-pc.png");
          width: calc(60% - 10px);
          padding: 80px 40px 60px;
          .rate__header {
            margin-bottom: 22px;
            text-align: center;
            h1.rate__average {
              font-size: 120px;
            }
            h1.rate__count {
              padding: 6px 10px;
              font-size: 16px;
            }
          }
          .rate__body {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .rate__ratio-flex {
              width: calc(28% - 10px);
              margin-bottom: 0;
              .progress__flex {
                .progress {
                  // % ë³„ opacity class
                  // 80%~100%
                  .op-80 {
                    opacity: 0.8;
                  }
                  // 60%~80%
                  .op-60 {
                    opacity: 0.6;
                  }
                  // 40%~60%
                  .op-40 {
                    opacity: 0.4;
                  }
                  // 20%~40%
                  .op-20 {
                    opacity: 0.2;
                  }
                }
              }
            }
            .expert__request-flex {
              width: calc(72% - 10px);
              h1.expert__overview {
                margin-bottom: 20px;
                font-size: 18px;
              }
              .btn__flex {
                display: flex;
                align-items: center;
                button.request__btn {
                  margin-right: 20px;
                  margin-bottom: 0;
                  width: 190px;
                  padding: 15px 0;
                }
                a.chat__link {
                  width: 122px;
                }
              }
            }
          }
        }
      }
    }
    section.expertDetail__body {
      margin-bottom: 40px;
      .body__flex {
        .expert__profile-flex {
          margin-bottom: 40px;
          h1.profile__title {
            margin-bottom: 20px;
            font-size: 42px;
          }
          .profile__items-flex {
            display: flex;
            align-items: flex-start;

            ul.profile__items {
              width: 50%;
            }
          }
        }
        .review__form-flex {
          padding: 40px 20px;
          background-color: #101113;
          border-radius: 10px;
          form.review__form {
            .rate__img-flex {
              margin-bottom: 40px;
            }
            .desc__flex {
              padding: 0;
              .textarea__flex {
                display: flex;
                align-items: center;
                textarea.form__textarea {
                  padding: 21px 20px;
                  height: 64px;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 0;
                  border-bottom-left-radius: 10px;
                  &::placeholder {
                    overflow-wrap: normal;
                    white-space: pre;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }
                }
                button.form__leave-btn {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  bottom: 0;
                  width: 26%;
                  height: 64px;
                  padding: 21px 0;
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 10px;
                  border-top-right-radius: 10px;
                }
              }
            }
          }
        }
        .promotions__flex {
          h1.promotions__title {
            margin-bottom: 20px;
            font-size: 42px;
          }
          .swiper.mySwiper.expertProfileSwiper {
            .swiper-wrapper {
              .swiper-slide {
                width: calc(25% - 30px);
                margin-right: 40px;
                a.video__link {
                  .video__flex {
                    .video__expert-flex {
                      padding: 17px 20px;
                      h1.expert__title {
                        font-size: 20px;
                      }
                      h1.video__campaignTitle {
                        font-size: 24px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    section.expertDetail__footer {
      .footer__flex {
        padding: 40px;
        border-radius: 10px;
        background-color: #060708;
        h1.review__others {
          font-size: 21px;
          text-align: center;
          position: relative;
          bottom: 15px;
        }
        .rsp-pc {
          ul.review__items {
            display: flex;
            flex-wrap: wrap;
            li.review__item {
              width: calc(50% - 10px);
              border-radius: 10px;
              background-color: #000;
              margin-bottom: 20px;
              &:nth-child(2n-1) {
                margin-right: 20px;
              }
              .item__flex {
                padding: 40px 20px;
                h1.item__user-name {
                  margin-bottom: 20px;
                  font-size: 28px;
                  font-weight: bold;
                  color: #fff;
                }
                h1.item__desc {
                  margin-bottom: 18px;
                  font-size: 20px;
                  white-space: pre-wrap;
                  overflow-wrap: break-word;
                  color: #c9c9c9;
                }
                .review__rating {
                  h1.item__rating {
                    margin-bottom: 10px;
                    font-size: 18px;
                    color: #c9c9c9;
                  }
                  ul.rated__img-items {
                    display: flex;
                    align-items: center;
                    li.rated__img-item {
                      img.item__star {
                        margin-right: 5px;
                        width: 26px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
