button#findID__modal-btn {
  display: none;
}
#findID__modal.modal.fade.findID__modal {
  .modal-dialog.modal-dialog-centered {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    .modal-content {
      border: 1px solid $mainColor;
      border-radius: 10px;
      overflow: hidden;
      background-color: transparent;
      padding: 20px;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      background-color: rgba(45, 45, 45, 0.7);
      .modal-header {
        border-bottom: 0;
        padding: 0;
        button.close {
          opacity: 1;
          img.modal-close-img {
            display: block;
            width: 24px;
          }
        }
      }
      .modal-body {
        padding: 0;
        h1.modal__title {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: 600;
          color: #fff;
          text-align: center;
        }
        h1.modal__subTitle {
          margin-bottom: 20px;
          font-size: 14px;
          line-height: 1.71;
          text-align: center;
          color: #c9c9c9;
        }

        button.modal__btn {
          border-radius: 10px;
          border: solid 1px $mainColor;
          display: block;
          width: 250px;
          padding: 15px;
          margin: 0 auto;
          font-size: 13px;
          font-weight: 600;
          line-height: 1.22;
          text-align: center;
          color: #fff;
          -webkit-text-fill-color: #fff;
          &:hover {
            color: #fff;
            -webkit-text-fill-color: #fff;
          }
        }
      }
    }
  }
}
.findID__page#findID__page {
  .findID__page-flex {
    position: relative;
    background-image: url("/images/find/find_page.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .findID__flex {
      height: 100%;
      padding: 100px 0 80px 0;
      //- find id 문구
      section.findID__text {
        max-width: 500px;
        margin: 0 auto 120px auto;
        h1.findID__title {
          width: 90%;
          margin: 0 auto;
          font-size: 42px;
          font-weight: bold;
          color: #fff;
          text-align: left;
        }
        .divide__line {
          width: calc(100% - 20px);
          margin: 20px 0 20px 20px;
          border: 1px solid $mainColor;
        }
        h1.findID__subTitle {
          margin: 0 20px;
          font-size: 18px;
          font-weight: 600;
          color: #fff;
        }
      }
      //- 이메일입력란
      section.findID__info {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        .form__flex {
          margin-bottom: 114px;
          display: flex;
          flex-direction: column;
          label.form__label {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
          }
          input.form__input {
            padding: 15px 20px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            border-radius: 10px;
            border: solid 1px #626262;
            &::placeholder {
              color: #6c6c6c;
            }
          }
          input.form__input.active {
            border: 1px solid $mainColor;
          }
          input.form__input.form__error {
            border: 1px solid #ea3434;
          }
        }
        .form__btn {
          button.form__submit-btn {
            padding: 12px 0;
            width: 100%;
            font-size: 24px;
            font-weight: 600;
            color: #c1c1c1;
            border-radius: 10px;
            background-color: #3e3e3e;
            cursor: pointer;
          }
          button.form__submit-btn.active {
            color: #fff;
            background-color: $mainColor;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  #findID__modal.modal.fade.findID__modal {
    .modal-dialog.modal-dialog-centered {
      .modal-content {
        .modal-header {
          display: none;
        }
        .modal-body {
          h1.modal__title {
            font-size: 38px;
            border-bottom: 1px solid #626262;
            padding-bottom: 20px;
          }
          h1.modal__subTitle {
            margin-bottom: 20px;
            font-size: 18px;
          }

          button.modal__btn {
            font-size: 18px;
          }
        }
      }
    }
  }
  .findID__page#findID__page {
    .findID__page-flex {
      .findID__flex {
        padding: 140px 225px 240px 120px;
        //- find id 문구
        section.findID__text {
          max-width: initial;
          margin: 0 0 165px 0;
          h1.findID__title {
            margin: 0;
            font-size: 62px;
          }
          .divide__line {
            width: 100%;
            margin: 20px 0 20px 0;
          }
          h1.findID__subTitle {
            margin: 0;
            font-size: 26px;
          }
        }
        //- 이메일입력란
        section.findID__info {
          width: 100%;
          max-width: 600;
          margin: 0 auto 0 0;
          .form__flex {
            margin-bottom: 40px;
            label.form__label {
              margin-bottom: 20px;
              font-size: 24px;
            }
            input.form__input {
              font-size: 18px;
            }
          }
          .form__btn {
            button.form__submit-btn {
              padding: 15px 0;
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}
