#dashboard__withdrawal {
  section.withdrawal__header {
    h1.dashboard__title {
      margin-bottom: 40px;
      font-size: 34px;
      font-weight: bold;
      color: #fff;
    }
  }
  section.withdrawal__body {
    section.withdrawal__form-section {
      margin-bottom: 80px;
      .withdrawal__flex {
        ul.box__items {
          margin-bottom: 40px;
          display: flex;
          align-items: center;
          li.box__item {
            width: calc(33.333333% - 5px);
            padding: 10px;
            border-radius: 10px;
            border: solid 1px #3e3e3e;
            background-color: #16151a;
            &:not(:last-child) {
              margin-right: 8px;
            }
            h1.item__title {
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 10px;
              font-size: 14px;
              font-weight: bold;
              color: #fff;
            }
            h1.item__content {
              font-size: 33px;
              font-weight: bold;
              color: #10eb73;
              text-align: center;
            }
          }
        }
        .form__flex {
          form.withdrawal__form {
            h1.totalBalance__title {
              margin-bottom: 10px;
            }
            h1.totalBalance__title,
            h1.totlaBalance__amount {
              font-size: 22px;
              font-weight: bold;
              color: #fff;
            }
            h1.totlaBalance__amount {
              margin-bottom: 20px;
              color: $mainColor;
            }
            .form__group {
              margin-bottom: 20px;
              display: flex;
              flex-direction: column;
              label.form__label {
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: bold;
                color: #fff;
              }
              input.form__input,
              select.form__select {
                padding: 12px;
                font-size: 18px;
                color: #fff;
                border-radius: 10px;
                border: solid 1px #3e3e3e;
                background-color: #16151a;
                &:focus {
                  border: solid 1px $mainColor;
                }
              }
              input.form__error {
                border: solid 1px #ea3434;
              }
              input.active,
              select.active {
                border: solid 1px $mainColor;
              }
              button.withdrawal__btn {
                padding: 12px;
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                border-radius: 10px;
                background-color: #3e3e3e;
                cursor: pointer;
              }
              button.withdrawal__btn.active {
                background-color: $mainColor;
              }
            }
          }
        }
      }
    }
    section.withdrawal__transaction-section {
      .transaction__flex {
        h1.transaction__title {
          margin-bottom: 20px;
          font-size: 34px;
          font-weight: bold;
          color: #fff;
        }
        ul.transaction__menu-items {
          padding-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #fff;
          li.transaction__menu-item {
            h1.item__title {
              font-size: 14px;
              font-weight: 500;
              color: #fff;
              text-align: center;
            }
          }
          li.item__number {
            width: 6%;
            max-width: 30px;
            h1.item__title {
              text-align: left;
            }
          }
          li.item__orderID {
            width: 23%;
          }
          li.item__type {
            width: 22%;
          }
          li.item__date {
            width: 25%;
          }
          li.item__amount {
            width: 24%;
          }
        }
        ul.transaction__content__items {
          margin-bottom: 80px;
          li.transaction__content-item {
            padding: 24px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child) {
              border-bottom: 1px solid #6c6c6c;
            }
            h1.item__title {
              font-size: 14px;
              font-weight: 500;
              color: #c9c9c9;
              text-align: center;
            }
            h1.item__number {
              width: 6%;
              max-width: 30px;
              color: #fff;
              text-align: left;
            }
            h1.item__orderID {
              width: 23%;
              white-space: pre;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            h1.item__type {
              width: 22%;
              white-space: pre;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            h1.item__date {
              width: 25%;
            }
            h1.item__amount {
              width: 24%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  #dashboard__withdrawal {
    section.withdrawal__header {
      h1.dashboard__title {
        margin-bottom: 60px;
        font-size: 60px;
      }
    }
    section.withdrawal__body {
      section.withdrawal__form-section {
        .withdrawal__flex {
          display: flex;
          align-items: flex-start;
          ul.box__items {
            margin-bottom: 0;
            width: calc(60% - 20px);
            margin-right: 40px;
            li.box__item {
              width: calc(33.333333% - 13px);
              padding: 20px;
              &:not(:last-child) {
                margin-right: 20px;
              }
              h1.item__title {
                margin-bottom: 12px;
                font-size: 28px;
              }
              h1.item__content {
                font-size: 82px;
              }
            }
          }
          .form__flex {
            width: calc(40% - 20px);
            form.withdrawal__form {
              h1.totalBalance__title {
                margin-bottom: 10px;
              }
              h1.totalBalance__title,
              h1.totlaBalance__amount {
                font-size: 28px;
              }
              h1.totlaBalance__amount {
                font-size: 82px;
              }
              .form__group {
                label.form__label {
                  margin-bottom: 10px;
                  font-size: 22px;
                }
                input.form__input {
                  padding: 15px;
                }
                button.withdrawal__btn {
                  padding: 15px;
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
      section.withdrawal__transaction-section {
        .transaction__flex {
          h1.transaction__title {
            font-size: 42px;
          }
          ul.transaction__menu-items {
            padding-bottom: 20px;
            li.transaction__menu-item {
              h1.item__title {
                font-size: 36px;
              }
            }
          }
          ul.transaction__content__items {
            margin-bottom: 120px;
            li.transaction__content-item {
              padding: 20px 0;
              h1.item__title {
                font-size: 22px;
              }
              h1.item__number {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
